@keyframes swell {
  0% { transform: scale(1) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1) }
}

@keyframes sideFloat {
  0% { transform: translateX(0) scaleX(1) }
  50% { transform: translateX(8px) scaleX(0.7) }
  100% { transform: translateX(0) scaleX(1) }
}

@keyframes shrink {
  from { transform: scale(1.15) }
  to { transform: scale(1) }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes flyDown {
  0% { margin-top: -700px; }
  70% { margin-top: 50px; }
  100% { margin-top: 0; }
}

@keyframes growRight {
  from { width: 0; }
  to { width: 30%; }
}