@use '@styles/animation';
@use '@styles/colours' as c;

$containerWidth: 30px;
$containerGap: 2px;
$descrWidth: calc(($containerWidth - ($containerGap * 2)) / 3);

.Container {
  display: flex;
  width: $containerWidth;
  height: 100%;
  gap: $containerGap;
  margin: 0;
  padding: 0;

  &_pointer {
    justify-content: center;
    align-items: center;
  }
}


.DescrContainer {
  width: $descrWidth;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1px;
  margin: 0;
  padding: 0;
}

.Descr {
  width: $descrWidth;
  height: $descrWidth;
  border-radius: 50%;
  background: black;
  margin: 0;
  padding: 0;

  &_green {
    background: c.$green;
  }
  &_orange {
    background: c.$orange;
  }
  &_red {
    background: c.$red;
  }
}

.Pointer {
  color: white;
  animation: 1.5s sideFloat infinite;
}