@use '@styles/animation';
@use '@styles/colours' as c;

.Container {
  position: relative;
  cursor: pointer;
}

.Input {
  width: 50px;
  height: 50px;
  border-radius: 0;
  font-size: 26px;
  text-align: center;
  border: none;
  outline: none;

  &_swell {
    animation: 0.35s swell;
  }
}

.Marker {
  position: absolute;
  margin-left: 30%;
  width: 40%;
  height: 4px;
  bottom: 12%;
  left: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px black;

  animation: 0.5s growRight;
  
  &_green {
    background: c.$green
  }
  &_orange {
    background: c.$orange
  }
  &_red {
    background: c.$red
  }
}